img{
  height:40px
}

li{
  list-style: none;
}
.navbar-brand {
 padding:0px;
}

.navbar li{
   padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.navbar #search
{
  padding-top: 25px;
    padding-left: 40px;
}
.navbar a:hover{
  color: greenyellow;
}
.navbar a:active{
  color: red;
}
.content{

    padding-top: 0%;
    margin:7px;
    
  

}
.conatiner{
  left:50%
}
.but{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#matchdet .container{
  padding: 15px;
}
